<footer class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="d-flex flex-wrap">
          <a href="/memoriais-virtuais" class="text-white me-3">Memoriais
            Virtuais</a>
          <a href="/condicoes-utilizacao" class="text-white me-3">Condições de
            Utilização</a>
          <a href="/politica-privacidade" class="text-white me-3">Política de
            Privacidade</a>
          <a href="/mapa-site" class="text-white me-3">Mapa do site</a>
          <a href="/contato" class="text-white me-3">Contato</a>
        </div>
      </div>
      <div class="col-md-4 text-end">
        <img
          src="/site/logo.svg"
          alt="Logo In Memoriam Brasil"
          style="height: 25px;"
        />
      </div>
    </div>
  </div>
</footer>