<nav class="navbar navbar-expand-lg navbar-dark d-none d-md-block">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="bi bi-house-door"></i>
            Página Inicial
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/sobre">Sobre Nós</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/memorial/create-step1">Criar Memorial</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/plano-opcoes">Plano e Opções</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contato">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- NAVBAR MOBILE (somente ícones) -->
<nav class="navbar navbar-dark bg-dark d-md-none py-1">
  <ul class="navbar-nav d-flex flex-row justify-content-around w-100">

    <li class="nav-item text-center">
      <a class="nav-link" href="/">
        <i class="bi bi-house-door fs-4"></i>
      </a>
    </li>

    <li class="nav-item text-center">
      <a class="nav-link" href="/sobre">
        <i class="bi bi-info-circle fs-4"></i>
      </a>
    </li>

    <li class="nav-item text-center">
      <a class="nav-link" href="/memorial/create-step1">
        <i class="bi bi-plus-circle fs-4"></i>
      </a>
    </li>

    <li class="nav-item text-center">
      <a class="nav-link" href="/plano-opcoes">
        <i class="bi bi-card-checklist fs-4"></i>
      </a>
    </li>

    <li class="nav-item text-center">
      <a class="nav-link" href="/contato">
        <i class="bi bi-envelope fs-4"></i>
      </a>
    </li>

  </ul>
</nav>