<main class="container my-5">
  <div class="bg-white p-4">
    <h1>Política de Privacidade</h1>
    <p>Informações sobre como seus dados são coletados e utilizados.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus
      tempor lorem, eu sodales turpis ultrices eget. Vestibulum sed lectus in
      quam maximus eleifend ac eget nisl. Duis egestas ac mi sed tincidunt.
      Vestibulum nunc leo, euismod in consequat sed, laoreet et est. Mauris
      malesuada, eros ut pharetra pharetra, sapien nibh ultricies nulla, ut
      luctus ex eros vitae mauris. Maecenas luctus ante sit amet nulla malesuad
      dolor. Duis et arcu neque. Vivamus facilisis augue quis sapien congue, id
      lobortis nulla lacinia. Pellentesque arcu diam, condimentum ac tincidunt
      a, ullamcorper vel ante. Aliquam eget dapibus nunc. Vivamus nec magna
      finibus felis venenatis finibus sed sit amet mi. Proin malesuada orci ut
      felis luctus ultricies. Curabitur tincidunt tempor volutpat. Donec
      fermentum urna nec elit rutrum, quis convallis ex sollicitudin. Etiam
      dictum auctor cursus. Pellentesque nec urna tempus, maximus nisl a,
      scelerisque odio. Sed sed ornare ligula. Nullam non ante dapibus magna
      lacinia vehicula ut nec neque. Vivamus porta ornare nisi sed porttitor.
      Vestibulum dictum elit sit amet consectetur ullamcorper. Nam semper sem
      arcu, non tincidunt ante vehicula nec. Nullam et viverra tellus. Nunc
      tempor purus sem, eu pharetra turpis accumsan sed. Integer in pretium
      magna, non sollicitudin ex. Mauris massa eros, tristique ut vestibulum a,
      ultrices sit amet felis. Donec tincidunt, lacus ut euismod rutrum, quam
      lectus lobortis sem, ut mollis lacus mi sit amet turpis. Etiam ante
      tellus, molestie in tellus sed, varius laoreet augue. Sed viverra sit amet
      est a consequat. Cras elementum metus nec eros congue, at ullamcorper
      nulla ultrices. Maecenas et risus sed odio feugiat semper. Donec
      porttitor, dolor id feugiat vestibulum, lectus turpis vehicula tellus, nec
      congue orci est ac nunc. Cras sodales elit eu sapien accumsan viverra.
      Vivamus vitae odio ac enim luctus elementum. Maecenas ac viverra urna, at
      pharetra metus. In eget erat ut lacus mollis mattis. Sed at finibus
      tellus, ac mollis metus. Pellentesque habitant morbi tristique senectus et
      netus et malesuada fames ac turpis egestas. Ut orci nunc, varius nec
      pellentesque vel, ultrices vel neque. Sed molestie eros libero, id
      eleifend ante fermentum a. Donec a facilisis dolor. Morbi nunc tellus,
      vehicula id tempor id, vulputate sed dolor. Morbi viverra augue nec turpis
      sodales malesuada. In placerat a dui sit amet luctus. Ut aliquam nisi
      egestas dui porta, nec pretium tortor sagittis. Pellentesque dictum
      euismod felis a venenatis.</p>
  </div>
</main>