/* ===============================================
   BASE — Corpo da página Background, Format Text
=============================================== */

body {
  background-image: url("/css/main/files/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
/* =========================================
   BASE — Corpo da página - MOBILE
========================================= */

@media (max-width: 768px) {
  body {
    background-image: url("/css/main/files/background-mobile.jpg");
    background-size: cover;
    background-position: center;
  }
}
