/* =========================================
   COMPONENTES — Botões, Cards, Formulários, Flash
========================================= */

/* Botões */
.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-secondary);
  color: #ffffff;

  &:hover {
    background-color: var(--bs-secondary);
    border-color: var(--bs-dark);
  }

  &:active {
    background-color: var(--bs-dark) !important;
    border-color: var(--bs-dark) !important;
  }
}

/* Cards */
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.memorial-card {
  background-color: #4f0e21;
  color: white;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.stats-card {
  width: 230px;
  background: white;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  color: #4f0e21;
}

/* Formulários */
.form-control::placeholder {
  color: #555;
  font-style: italic;
  font-size: 14px;
  opacity: 0.8;
}

/* Navbar ativa */

.nav-item.active {
  background-color: var(--bs-secondary);
  border-radius: 5px;

  .nav-link {
    color: #ffffff;
  }
}
/*
.nav-link.active {
  background-color: var(--bs-secondary) !important;
  color: #ffffff !important;
  border-radius: 5px;
}
*/

/* Flash messages */
.flash-container {
  z-index: 1055;
  max-width: 90%;
  animation: slide-down 0.6s ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out-up {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.5s ease-in;
}
/*NAVBAR ATIVA*/
.navbar .nav-link.active {
  color: var(--bs-primary) !important;
  font-weight: 600;
  border-bottom: 2px solid var(--bs-primary);
}
