<main class="container my-5">
  <div class="bg-white p-4">
    <h1>Página Não Encontrada</h1>
    <p>A página que você está procurando não existe.</p>
    <p>Confira o endereço que você está digitando.</p>
  </div>
</main>