/* =========================================
   BASE — Corpo da página
========================================= */

body {
  background-image: url("/css/memorial/files/background.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /*height:  100vh;*/
  width: 100%;
}

// Texto justificado
.text-justify {
  text-align: justify;
}

// Transição suave para todas as propriedades
.transition-all {
  transition: all 0.3s ease;
}
