/* ===========================
   Components
   =========================== */

/* Botões edit/delete */
.btn-edit {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: var(--bs-border-radius);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

  &:active {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
  }
  &:focus-visible {
    outline: 3px solid rgba(255, 255, 255, 0.3);
    outline-offset: 2px;
  }
}

/* Botão delete */
.btn-delete {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
  font-weight: bold;
  color: #fff;

  &:hover {
    background-color: #c82333;
    border-color: #c82333;
  }

  &:active {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
  }
  &:focus-visible {
    outline: 3px solid rgba(255, 255, 255, 0.3);
    outline-offset: 2px;
  }
}

/* Customização Bootstrap */
.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-secondary);
  color: #fff;

  &:hover {
    background-color: var(--bs-secondary);
    border-color: var(--bs-dark);
  }

  &:active {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
  }
}

/* Cards */
.card {
  border-radius: 10px;
  margin-bottom: 20px;

  .card-body {
    background-color: #f9f9f9;
    border-radius: 10px;
  }
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

/* Form */
.form-control::placeholder {
  color: #555;
  font-style: italic;
  font-size: 14px;
  opacity: 0.8;
}
/*NAVBAR ATIVA*/
.memorial-navbar .nav-link.active {
  color: var(--bs-primary) !important;
  font-weight: 600;
  border-bottom: 2px solid var(--bs-primary);
}
.custom-sidebar-photo {
  width: 100%;
  height: 150px; // ajuste a altura se precisar
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: block;
}
