/* ===========================
   Mobile Styles
   =========================== */

@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }

  .mobile-navbar {
    background-color: #330011;
    justify-content: space-around;

    .nav-link {
      padding: 0.4rem;
      font-size: 1.3rem;
    }
  }
  /* Ajuste do epitaph para telas pequenas */
  @media (max-width: 576px) {
    .epitaph-content {
      font-size: 1.3rem; // ajuste ideal para mobile
      line-height: 1.3;
    }
  }

  .memorial-photo-mobile {
    width: 80px !important;
    height: 120px !important;
    object-fit: cover;
    border: 1px solid #4f0e21;
  }

  .mobile-name {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .mobile-dates {
    font-size: 1rem;
    opacity: 0.7;
  }
}
