/* ===========================
   Themes
   =========================== */

.text-justify {
  text-align: justify;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hover-shadow:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.transition-all {
  transition: all 0.3s ease;
}

.epitaph-box {
  background-image: url("/css/memorial/files/bg_epitaph.png");
  background-size: 100% 100%;
  padding: 3rem;
  text-align: center;
  color: black;

  text-shadow:
    2px 2px 4px white,
    0 0 5px white,
    0 0 10px white;
}
