/* ===============================================
   BASE — Corpo da página Background, Format Text
=============================================== */

body {
  background-image: url("/css/memorial/files/background.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /*height:  100vh;*/
  width: 100%;
}

// Texto justificado
.text-justify {
  text-align: justify;
}

// Transição suave para todas as propriedades
.transition-all {
  transition: all 0.3s ease;
}

/* ==============================================
   text-shadow — glow branco (com versão mobile)
   =========================================== */
.text-shadow-glow {
  /* Efeito glow branco (desktop) */
  text-shadow:
    2px 2px 4px white,
    0 0 5px white,
    0 0 10px white;
  @media (max-width: 576px) {
    text-shadow:
      1px 1px 3px white,
      0 0 3px white,
      0 0 6px white;
  }
}

/* ==============================================
   text-shadow-dark — sombra escura (opcional)
   ============================================ */
.text-shadow-dark {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  @media (max-width: 576px) {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }
}
// Caixa do epitáfio com fundo texturizado e sombra no texto otimizada
.epitaph-box {
  background-image: url("/css/memorial/files/bg_epitaph.png");
  background-size: 100% 100%;
  padding: 3rem;
  text-align: center;
  color: black;

  text-shadow:
    2px 2px 4px white,
    0 0 5px white,
    0 0 10px white;

  @media (max-width: 768px) {
    padding: 2rem;
  }

  @media (max-width: 480px) {
    padding: 1rem;
  }
}

.epitaph-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  color: var(--bs-dark);
  line-height: 1.4;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-line-clamp: 5; /* default para desktop */

  @media (max-width: 992px) {
    font-size: 1.3rem;
    -webkit-line-clamp: 4;
  }

  @media (max-width: 576px) {
    font-size: 1.1rem;
    -webkit-line-clamp: 3;
  }

  @media (max-width: 400px) {
    font-size: 1rem;
    -webkit-line-clamp: 2;
  }
}
